<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <form id="login-form" action="/login" method="post">
    <img id="avatar" src="../static/images/avatar.jpg" alt="">

    <div class="div-input">
      <i class="fas fa-user custom-icon"></i>
      <input class="login-input" type="text" placeholder="Tên đăng nhập" name="login_username">
    </div>

    <div class="div-input">
      <i class="fas fa-fingerprint custom-icon"></i>
      <input class="login-input" type="password" placeholder="Mật khẩu" name="login_password">
    </div>
    
    <div id="div-button">
      <input class="btn-custom" type="submit" value="Đăng nhập">
      <input class="btn-custom" type="reset" value="Reset">
    </div>
  </form>

</body>
</html>