<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <form action="/login" method="post">
    <input type="text" placeholder="Tên đăng nhập" name="login_username"> <br> <br>
    <input type="password" placeholder="Mật khẩu" name="login_password"> <br> <br>
    <input type="submit" value="Đăng nhập">
    <input type="reset" value="Reset">
  </form>
  <div>
    <h1 id="first-h1">TEST THỬ CSS</h1>
    <h1 id="second-h1">TEST LẠI LẦN 2</h1>
    <h2 class="text-blue">ĐÂY LÀ THẺ HEADING 2</h2>
    <h5 class="text-blue">ĐÂY LÀ THẺ HEADING 5</h5>
    <h6 class="text-blue">ĐÂY LÀ THẺ HEADING 6</h6>
  </div>
</body>
</html>